<!DOCTYPE html>
<html lang="en" xmlns:th="www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div id="filterResultTbl"></div>
        <table class="table table-bordered table-striped mt-4" id="enqTbl">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Number</th>
                    <th scope="col">Enquiry Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="enquiryTable">
                <tr th:each="enq,enqStart : ${enquiries}">
                    <td th:text="${enqStart.index + 1}  "></td>
                    <td th:text="${enq.studentName} "></td>
                    <td th:text="${enq.courseName} "></td>
                    <td th:text="${enq.studentPhno} "></td>
                    <td th:text="${enq.dateCreated} "></td>
                    <td th:text="${enq.enqStatus} "></td>
                    <td th:text="${enq.classMode} "></td>
                    <td> <a th:href=@{/edit}>Edit</a></td>
                </tr>
                
            </tbody>
        </table>
    
</body>
</html>